<div class="card-body">
    <a href="dashboard/edit/{{id}}">
        <div class="card-header d-flex flex-row mr-auto p-2">
            <div class="col-8"> {{post_title}}</div>
            <div class="col-4"> by: {{user.username}} on {{format_date date_created}}</div>
        </div>
    </a>
  <p class="card-body">{{post_description}}</p>
</div>