<div class="card-body">
    <a href="dashboard/edit/{{id}}">
        <div class="card-header flex-row justify-space-between">
            <div class="col-8">Title: {{postTitle}}</div>
            <div class="col-4"> by: {{user.username}} on {{format_date dateCreated}}</div>
        </div>
    </a>
    <div class="col-12">
        <p>{{postDescription}}</p>
    </div>
</div>