<div class="card-body">
    <a href="post/{{id}}">
        <div class="card-header flex-row justify-space-between">
            <div class="col-8">Post Title: {{post_title}}</div>
            <div class="col-4"> by: {{user.username}} on {{format_date date_created}}</div>
        </div>
    </a>
    <div class="col-12">
        <p>{{post_description}}</p>
    </div>
</div>